<h1>My Account</h1>
<div class="container">
    <div id="displayaccountdiv" class="row displaydiv">This is a div named "displayaccountdiv" inside of a container div
        and a row div 
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/account.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />