<h3 title='welcome_home'><img src="img/MyAccountLogo.png" alt="MeMED Logo" height=200 width=400 ></h3>
<div class="container">
    <div id="displaymedicaldiv" class="row displaydiv">You don't have an account yet...</div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/account.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />