<h1>Bills</h1>
<div class="container">
    <div id="displaybillsdiv" class="row displaydiv">You don't have any bills yet...</div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/bills.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />