<h1>History</h1>
<div class="container">
    <div id="displayhistorydiv" class="row displaydiv">You don't have any history yet...</div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/history.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />