<h1>History</h1>
<div class="container">
    <div id="displayhistorydiv" class="row displaydiv">This is a div named "displayhistorydiv" inside of a container div
        and a row div 
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/history.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />