<h3 title='welcome_home'>Welcome to LearnWithLinsey!</h3>

<div class="container">
    <div id="displayhomediv" class="row displaydiv"> </div>
    <!-- <a className="nav-btn" href='/account'>
        <img src="img/My_Account.png" alt="account icon" width=260 height=400 >
    </a> -->

</div>

<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />
</html>