<h3 title='welcome_home'><img src="img/Logo.png" alt="MeMED Logo" ></h3>

<div class="container">
    <div id="displaywatchesdiv" class="row displaydiv"> </div>
    <a className="nav-btn" href='/account'>
        <img src="img/My_Account.png" alt="account icon" width=260 height=400 >
    </a>
    <a className="nav-btn" href='/bills'>
        <img src="img/Bills.png" alt="account icon" width=260 height=400 >
    </a>
    <a className="nav-btn" href='/insurance'>
        <img src="img/Insurance.png" alt="account icon" width=260 height=400 >
    </a>
    <a className="nav-btn" href='/providers'>
        <img src="img/Providers.png" alt="account icon" width=260 height=400 >
    </a> 

</div>

<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />
</html>