<h3 title='welcome_home'>MeMED Home</h3>
<div class="container">
    <div id="displaywatchesdiv" class="row displaydiv"> Welcome to MeMED! What would you like to do?</div>
    <a className="nav-btn" href='/account'>My Account</a> <br>
    <a className="nav-btn" href='/insurance'>Insurance</a> <br>
    <a className="nav-btn" href='/providers'>Providers</a> <br>

</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />