<h1>Insurance</h1>
<div class="container">
    <div id="displayinsurancesdiv" class="row displaydiv">Loading Insurance...
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/insurance.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />