<h1>Medical Reports</h1>
<div class="container">
    <div id="displaymedicaldiv" class="row displaydiv">This is a div named "displaywatchesdiv" inside of a container div
        and a row div 
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/medicalReports.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />