<h1>Medical Reports</h1>
<div class="container">
    <div id="displaymedicaldiv" class="row displaydiv">You don't have any reports yet...
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/medicalReports.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />