    
<h3 title='welcome_home'><img src="img/MedicalReports_Logo.png" alt="MeMED Logo" height=200 width=500 ></h3>
<div class="container">
    <div id="displayreportsdiv" class="row displaydiv">Loading Reports...</div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/medicalReports.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />