<h1>Providers</h1>
<div class="container">
    <div id="displayprovidersdiv" class="row displaydiv">Loading Providers...
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/providers.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />