<h3 title='welcome_home'><img src="img/Providers_Logo.png" alt="MeMED Logo" height=200 width=460></h3>

<div class="container">
    <div id="displayprovidersdiv" class="row displaydiv">Loading Providers...
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/providers.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />