main > .container {
    margin-top: 80px;
  }
  .card-title{ text-transform: capitalize;
  }
  .sort-prop {
    text-transform: capitalize;
    display: inline-block;
  }
  img {
    max-width: 100%;
  }
  .dropdown-menu {
    width: 200px;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .col-lg-4{
    padding:5
  }

  .fixed-top{
    color: white;
    background-color: #034209;
  }
  .nav-link{
    color: white;
  }
  #navbarItem{
    color: white;
  }
  .nav-btn{
    padding: 20;
    font-size: large;
  }